@media (max-width:760px){
    .header{
        padding-left: 10px;
        padding-right: 10px;
    }
    .header .content h1{
        font-size: 38px;
    }
    .header .content p{
        font-size: 20px;
    }
    .header .content button{
        width: 150px;
        height: 40px;
        font-size: 17px;
    }
    .services .cont{
        margin-bottom: 10px;
    }
    .quote .content p{
        font-size: 23px;
    }
}